{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}CrawlWeb.info Admin - Template elements{% endblock %}
{% block page_title %}Template elements{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Template elements</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Site name</th>
                            <th>Template name</th>
                            <th>CSS Path</th>
                            <th>Extract only urls</th>
                        </tr>
                        {% for result in results %}
                            <tr>
                                <td>{{ result.name }}</td>
                                <td>{{ result.siteName }}</td>
                                <td>{{ result.templateName }}</td>
                                <td>{{ result.cssPath }}</td>
                                <td>{{ result.ignoreAttributeValue }}</td>
                            </tr>
                        {% endfor %}
                        </tbody></table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}